* {
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

header {
    display: flex;
    flex-direction: row;
}

#logo {
    display:flex;
    align-self: flex-start;
}

#blog-site-name {
    font-family: 'Yellowtail', cursive;
    margin: 0;
    font-size: 2em;
}

#blog-tagline {
    font-family: 'Abel', sans-serif;
    margin: 0;
    font-size: .8em;
}

#share-icons {
    display:block;
    margin-left: auto;
}

hr {
    border: 0;
    height: 2em;
    background:url(./assets/hr-img.png) repeat-x;
    width: 800px;
}




/* Footer Styles */
.author-share-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.author-container{
    display: flex;
    flex-direction: inherit;
    align-items: center;
    max-width: 70%;
    gap: 15px;
}

.author-container img{
 width: 71px;
 height: 68px;
}

.text-container{
    /* max-width: 70%; */
}

.share-button{
    background-color: rgb(187,112,85);
    color: white;
    border: none;
    width: 20%;
    height: 53px;
    position: relative;
    top: 18.72px;
}

