* {
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

header {
    display: grid;
    grid-template-columns: auto 4fr 1fr;
    padding-bottom: 30px;
}


#blog-name-tagline {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#blog-site-name {
    font-family: 'Yellowtail', cursive;
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}

#blog-tagline {
    font-family: 'Abel', sans-serif;
    margin: 0;
    font-size: .8em;
}

#share-icons {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 3px;
}

#rss {
    margin-left: 8px;
}

hr {
    border: 0;
    height: 1em;
    background:url(./assets/hr-img.png) repeat-x;
    width: 800px;
}

